@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap');
body {
  font-family: 'Work Sans', sans-serif;
  background-color: var(--color-grey);
  color: var(--color-black);
}
:root {
  --color-gold: #eda35b;
  --color-black: #161616;
  --color-grey: #f5f5f5;
}

.dark-theme {
  --color-black: #f5f5f5;
  --color-grey: #161616;
}
.card:hover {
  transform: scale(1.1);
}
#logo {
  height: 4rem;
  width: auto;
}
#logo-footer {
  height: 8rem;
  width: auto;
}
.btn-search {
  background-color: var(--color-gold);
  color: var(--color-black);
  height: 2.4rem;
  width: 3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.input-search {
  width: 10rem !important;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  &:focus {
    box-shadow: 0 0 0 0.2rem #eda45b7e;
  }
}

.nav-link {
  padding-right: 0.2rem;
  text-decoration: none;
  color: var(--color-black);
  &:hover {
    color: var(--color-gold);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #eda45b7e;
  }
}
nav {
  box-shadow: 10px 3px 7px rgb(142 142 143 / 20%);
}
.btn-shop {
  background-color: var(--color-black);
  color: var(--color-grey);
  border-radius: 2.25rem;
  &:hover {
    color: var(--color-grey);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #eda45b7e;
  }
}
.btn-heart {
  background-color: var(--color-gold);
  color: var(--color-grey);
  border-radius: 2.25rem;
  &:hover {
    color: var(--color-grey);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #eda45b7e;
  }
}
#icon-dark-mode {
  width: 30px;
  cursor: pointer;
  padding-left: 0.7rem;
}
.newsletter-input {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.social-media-icon {
  color: var(--color-gold);
}
.card-text {
  color: #161616;
  font-weight: bolder;
}
.card-title {
  color : #161616;
  font-weight: bolder;
}
.product-image {
  height: 100px;
  width: 100px;
}
.fa-minus-circle, .fa-plus-circle {
  color: var(--color-gold);
}
.fa-trash-alt {
  color: #dc3545;
}

.fa-shopping-bag {
  color: var(--color-black);
}

.btn-confirm-cart{
  background-color: var(--color-black);
  color: var(--color-grey);
  border-radius: 2.25rem;
  width: 25rem;
  &:hover {
    color: var(--color-grey);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #1414147e;
  }
}
.btn-delete-cart {
  background-color: var(--color-gold);
  color: var(--color-grey);
  border-radius: 2.25rem;
  width: 25rem;
  &:hover {
    color: var(--color-grey);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem #eda45b7e;
  }
}

.my-footer {
  box-shadow: 10px 3px 20px rgb(142 142 143 / 20%);
}

@media screen and (max-width: 800px)  and (min-width: 450px){
  .product-image{
    width: 80px !important;
    height: 80px !important;
  }
  .product-title, .product-price, .quantity, .subtotal, .total {
      font-size: 1rem !important;
  }
  .quantity{
      margin-right: -0.7rem !important;
      margin-left: -0.7rem !important;
  }
}

@media screen and (max-width: 450px) {
  .product-image{
    width: 50px !important;
    height: 50px !important;
  }
  .product-title, .product-price, .subtotal, .total, .quantity {
    font-size: 0.9rem !important;
    }
    .quantity{
        margin-right: -0.9rem !important;
        margin-left: -0.9rem !important;
    }
}

